body {
  background-color: pink;
}

.main {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.header {
  text-align: center;
}

.shopping-list {
  background-color: aliceblue;
  color: rgb(10, 118, 235);
  border: 2px dashed black;
  border-radius: 5px;
  margin: 0 auto;
  width: 50%;
}

.list-item {
  list-style-type: none;
  padding-left: 25%;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  color: black;
}

.button {
  color: red;
  border: none;
  background: none;
  padding-right: 35%;
  cursor: pointer;
}
